@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * {
	border: dashed green 1px;
} */

body {
  background: #dfdfdf;
//  background: radial-gradient(ellipse farthest-corner at top left, #473e3e, 60%, #0400ff, #000000);
//  font-family: 'Roboto', sans-sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
}

.blurries {
	font-size: 6em;
  color: transparent;
  text-shadow: #111 0 0 14px;
  transition: 0.6s;
}
.blurries:hover {
  color: #311;
  text-shadow: none;
	transition: 0.5s;
}

.footer {
//  text-shadow: #111 0 0 8px;
//  color: transparent;
  text-align: right;
}
