body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: powderblue;
}
h2   {color: blue;}
p    {color: red;}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 5px;
  font-family: monospace;
}

.noggi {
  border: 1px solid black;
  text-align: right;
  width: 50%;
}

.fist
{
  height: 400;
  position: relative;
  top: 0;
  left: 0;
}
.sandwich
{
  height: 400;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: blur(2px);
}
