body {
  display: flex;
  justify-content: center;
  background: rgb(133, 133, 133);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
  font-size: 40vw;
}

.ct1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-size: 40vw;
  border: 2px solid green;
}